@font-face {
  font-family: "Aller";
  src: url("../fonts/aller_bd-webfont.eot"), url("../fonts/aller_bd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_bd-webfont.woff2") format("woff2"), url("../fonts/aller_bd-webfont.woff") format("woff"), url("../fonts/aller_bd-webfont.ttf") format("truetype"), url("../fonts/aller_bd-webfont.svg#allerbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("../fonts/aller_bdit-webfont.eot"), url("../fonts/aller_bdit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_bdit-webfont.woff2") format("woff2"), url("../fonts/aller_bdit-webfont.woff") format("woff"), url("../fonts/aller_bdit-webfont.ttf") format("truetype"), url("../fonts/aller_bdit-webfont.svg#allerbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url("../fonts/aller_it-webfont.eot"), url("../fonts/aller_it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_it-webfont.woff2") format("woff2"), url("../fonts/aller_it-webfont.woff") format("woff"), url("../fonts/aller_it-webfont.ttf") format("truetype"), url("../fonts/aller_it-webfont.svg#alleritalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url("../fonts/aller_lt-webfont.eot"), url("../fonts/aller_lt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_lt-webfont.woff2") format("woff2"), url("../fonts/aller_lt-webfont.woff") format("woff"), url("../fonts/aller_lt-webfont.ttf") format("truetype"), url("../fonts/aller_lt-webfont.svg#aller_lightregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Aller";
  src: url("../fonts/aller_ltit-webfont.eot"), url("../fonts/aller_ltit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_ltit-webfont.woff2") format("woff2"), url("../fonts/aller_ltit-webfont.woff") format("woff"), url("../fonts/aller_ltit-webfont.ttf") format("truetype"), url("../fonts/aller_ltit-webfont.svg#aller_lightitalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Aller";
  src: url("../fonts/aller_rg-webfont.eot"), url("../fonts/aller_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aller_rg-webfont.woff2") format("woff2"), url("../fonts/aller_rg-webfont.woff") format("woff"), url("../fonts/aller_rg-webfont.ttf") format("truetype"), url("../fonts/aller_rg-webfont.svg#allerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aller Display";
  src: url("../fonts/allerdisplay-webfont.eot"), url("../fonts/allerdisplay-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/allerdisplay-webfont.woff2") format("woff2"), url("../fonts/allerdisplay-webfont.woff") format("woff"), url("../fonts/allerdisplay-webfont.ttf") format("truetype"), url("../fonts/allerdisplay-webfont.svg#aller_displayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Aller";
  font-weight: 300;
  font-size: 16px;
  color: #676769;
  background: white;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

h1 {
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  color: #405d6d;
}
h2.white {
  color: white;
}
h2.light {
  color: #017896;
}
h2.dark {
  color: #2d2d2d;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: justify;
}
p:first-of-type {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

strong {
  font-weight: bold;
}

.sprite {
  background-image: url(../images/sprites.png);
}
.sprite.analyticsIco {
  width: 30px;
  height: 29px;
  background-position: -230px -1px;
}
.sprite.wrenchRed {
  width: 32px;
  height: 32px;
  background-position: -393px -1px;
}
.sprite.mailRed {
  width: 32px;
  height: 32px;
  background-position: -426px -1px;
}
.sprite.exportRed {
  width: 32px;
  height: 32px;
  background-position: -459px -1px;
}
.sprite.crossRed {
  width: 32px;
  height: 32px;
  background-position: -492px -1px;
}
.sprite.exitRed {
  width: 32px;
  height: 32px;
  background-position: -525px -1px;
}
.sprite.arrowRed {
  width: 32px;
  height: 32px;
  background-position: -558px -1px;
}
.sprite.arrowRayUp {
  width: 39px;
  height: 38px;
  background-position: -884px -1px;
}
.sprite.za {
  width: 36px;
  height: 36px;
  background-position: -591px -1px;
}
.sprite.absoluto {
  width: 36px;
  height: 36px;
  background-position: -628px -1px;
}
.sprite.prcentaje {
  width: 36px;
  height: 36px;
  background-position: -665px -1px;
}

.vrSprite1 {
  width: 22px;
  height: 22px;
  border: 3px solid #e24e4c;
  position: relative;
}
.vrSprite1:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #676769 transparent transparent transparent;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -4px;
}

.main-img {
  width: 100%;
  padding: 10px 10px 0r;
  background: url(../images/bg.png) left -50px no-repeat;
  border-bottom: 20px solid #405d6d;
}
.main-img img {
  display: block;
  max-width: 795px;
  margin: auto;
}

section.blueLight {
  background: #017896;
  color: white;
}
section.blueDark {
  background: #405d6d;
  color: white;
}
section.white {
  background: white;
}
section.skyBlue {
  background: #3faaca;
  color: white;
}
section.skyLight {
  background: #f0f6f6;
}

.pageI-sec-bottom {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 88px, #f0f6f6 88px, #f0f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 88px, #f0f6f6 88px, #f0f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 88px, #f0f6f6 88px, #f0f6f6 100%);
  width: 100%;
}
.pageI-sec-bottom .pageI-sec-bottom-b {
  background-image: url(../images/que-es-google-analytics-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 320px 10px 40px;
}

.pageII-sec1 {
  border-bottom: 38px solid white;
}
.pageII-sec1 .side-a,
.pageII-sec1 .side-b {
  width: 50%;
}
.pageII-sec1 .side-a {
  float: left;
}
.pageII-sec1 .side-a .side-wrapp {
  width: 410px;
  float: right;
  margin-right: 82px;
}
.pageII-sec1 .side-b {
  float: right;
}
.pageII-sec1 .side-b .side-wrapp {
  width: 480px;
  float: left;
  margin-left: 20px;
}
.pageII-sec1 .side-b .side-wrapp .windowBox {
  margin-left: 11px;
}
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent {
  padding: 30px 70px;
}
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .sprite,
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .blogLink,
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .vrSprite1 {
  float: left;
}
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .blogLink {
  margin: 0 10px;
}
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .blogLink span {
  display: block;
  font-size: 22px;
  font-weight: normal;
}
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .blogLink a {
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #676769;
}
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .sprite {
  margin-top: 6px;
}
.pageII-sec1 .side-b .side-wrapp .windowBox .windowContent .vrSprite1 {
  margin-top: 14px;
}
.pageII-sec1 .side-b .side-image {
  position: relative;
  top: 38px;
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  float: right;
  overflow: hidden;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, transparent 108px, #2d2e2e 108px, #2d2e2e 192px, transparent 192px, transparent 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 108px, #2d2e2e 108px, #2d2e2e 192px, transparent 192px, transparent 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 108px, #2d2e2e 108px, #2d2e2e 192px, transparent 192px, transparent 100%);
}
.pageII-sec1 .side-b .side-image img {
  display: block;
}

.pageII-sec2 {
  max-width: 1000px;
  margin: auto;
}
.pageII-sec2 .windowBox .windowContent .ficMenu {
  display: table;
  width: 100%;
  max-width: 770px;
  background: white;
  border-bottom: 1px solid #c7c6cb;
  border-top: 1px solid #c7c6cb;
  table-layout: fixed;
  margin: auto;
  padding: 0 20px;
}
.pageII-sec2 .windowBox .windowContent .ficMenu ul {
  display: table-row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pageII-sec2 .windowBox .windowContent .ficMenu ul li {
  display: table-cell;
  text-align: center;
  padding: 13px 0;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: normal;
}
.pageII-sec2 .windowBox .windowContent .ficMenu ul li:first-child {
  color: #ff9300;
  border-bottom: 5px solid #ff9300;
  padding: 13px 0 8px;
}
.pageII-sec2 .windowBox .windowContent .winColums .winCol {
  width: 25%;
  float: left;
  text-align: justify;
  padding: 17.5px;
}
.pageII-sec2 .windowBox .windowContent .winColums .winCol h3,
.pageII-sec2 .windowBox .windowContent .winColums .winCol p {
  display: inline;
}
.pageII-sec2 .windowBox .windowContent .winColums .winCol h3 {
  color: #ff9300;
  font-size: 16px;
}
.pageII-sec2 .windowBox .windowContent .winColums .winCol h3:after {
  content: ": ";
}
.pageII-sec2 .windowBox .windowContent .winColums .winCol:first-child {
  padding-left: 0;
}
.pageII-sec2 .windowBox .windowContent .winColums .winCol:last-child {
  padding-right: 0;
}

.pageII-sec3 .secWrapp {
  max-width: 1030px;
  margin: auto;
}
.pageII-sec3 .secWrapp .secWrapp2 {
  max-width: 935px;
  margin: auto;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowBox {
  float: left;
  display: block;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowBox img {
  display: block;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowBox .lateralImg {
  float: left;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent {
  float: right;
  width: -moz-calc(100% - 187px);
  width: -webkit-calc(100% - 187px);
  width: calc(100% - 187px);
  padding: 30px 50px 0;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent ol {
  margin: 0;
  padding: 0;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent ol .part {
  border-bottom: 1px solid #c7c6cb;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent ol .part li {
  width: -moz-calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  margin-left: 20px;
  color: #e24e4c;
  font-weight: bold;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent ol .part li img {
  float: left;
  margin-left: 25px;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent ol .part li p {
  color: #676769;
  font-weight: 300;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent ol .part:nth-child(2) p, .pageII-sec3 .secWrapp .secWrapp2 .windowContent ol .part:nth-child(3) p {
  float: left;
  width: 303px;
}
.pageII-sec3 .secWrapp .secWrapp2 .windowContent ol .part:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.pageII-se5 .wrapp {
  width: 1000px;
  position: relative;
}
.pageII-se5 .wrapp .windowBox:first-child {
  width: 936px;
  margin: auto;
  padding-bottom: 30px;
}
.pageII-se5 .wrapp .windowBox:first-child .col1-sm {
  float: left;
  width: 230px;
}
.pageII-se5 .wrapp .windowBox:first-child .col2-lg {
  float: right;
  width: 540px;
}
.pageII-se5 .wrapp .windowBox:first-child img {
  margin-top: 40px;
}
.pageII-se5 .wrapp .windowBox:last-child {
  margin: auto;
  position: relative;
  top: -30px;
  width: 610px;
}
.pageII-se5 .wrapp .windowBox:last-child ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pageII-se5 .wrapp .windowBox:last-child ul li:before {
  content: "-";
  margin-right: 30px;
}

.pageII-se6 .dataWrapp {
  max-width: 874px;
  margin: auto;
  position: relative;
}
.pageII-se6 .dataWrapp .dataWrappBlue {
  width: 390px;
  background: #3faaca;
  padding: 10px 40px;
  left: 50%;
  margin-left: -195px;
  margin-top: -30px;
  position: absolute;
  color: white;
  z-index: 2;
}
.pageII-se6 .dataWrapp .dataWrappWhite {
  margin: 20px auto 0;
  background: white;
  width: 543px;
  padding: 30px 40px 20px;
}

.pageII-sec7 .arrowRayUp {
  margin: auto;
}
.pageII-sec7 .tabletSim {
  height: 476px;
  width: 100%;
}
.pageII-sec7 .tabletSim .tabletSim-a {
  float: left;
  height: 100%;
  width: -moz-calc(50% - 374.5px);
  width: -webkit-calc(50% - 374.5px);
  width: calc(50% - 374.5px);
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, transparent 183px, #2d2e2e 183px, #2d2e2e 311px, transparent 192px, transparent 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 183px, #2d2e2e 183px, #2d2e2e 311px, transparent 192px, transparent 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 183px, #2d2e2e 183px, #2d2e2e 311px, transparent 192px, transparent 100%);
}
.pageII-sec7 .tabletSim .tabletSim-a .tabletSim-h {
  background: url(../images/grafico-bg-2.png) right top no-repeat;
  height: 100%;
  width: 100%;
}
.pageII-sec7 .tabletSim .tabletSim2 {
  width: 749px;
  height: 100%;
  background-image: url(../images/grafico-bg-1.png);
  background-position: right top;
  background-repeat: no-repeat;
  float: left;
  color: white;
  padding: 58px 80px;
}
.pageII-sec7 .windowBox {
  width: 450px;
  margin-bottom: 20px;
}
.pageII-sec7 .windowBox:nth-child(odd) {
  float: left;
  clear: left;
}
.pageII-sec7 .windowBox:nth-child(even) {
  float: right;
  clear: right;
}
.pageII-sec7 .windowBox .windowContent {
  padding: 20px 30px 20px;
}
.pageII-sec7 .windowBox .windowContent img {
  display: block;
  margin: 0 auto 15px;
}

.pageII-sec8 {
  overflow: hidden;
}
.pageII-sec8 .win1 {
  width: 382px;
  margin: 20px auto 130px;
}
.pageII-sec8 .win1 .windowContent {
  padding: 10px 25px;
}
.pageII-sec8 .win1 p:nth-child(1) {
  text-align: left;
}
.pageII-sec8 .win1 .bgGray {
  background: #f0f6f6;
  padding: 5px 10px;
}
.pageII-sec8 .skyLight {
  background: #f0f6f6;
}
.pageII-sec8 .rrer {
  position: relative;
}
.pageII-sec8 .rrer .windowBox {
  position: relative;
  top: -130px;
}
.pageII-sec8 .rrer .tree-colum-lt {
  float: left;
  margin: 20px 28px 50px;
}
.pageII-sec8 .rrer .tree-colum-lt .sprite {
  margin: auto;
  margin-bottom: 20px;
}
.pageII-sec8 .vrTablet-WP {
  width: 100%;
  height: 852px;
  position: relative;
  top: -180px;
  margin-bottom: -140px;
}
.pageII-sec8 .vrTablet {
  width: 648px;
  height: 100%;
  background: url(../images/tabla-de-datos-3_01.png) top center no-repeat;
  float: right;
  padding: 106px 64px 0;
  color: #676769;
}
.pageII-sec8 .vrTablet p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.pageII-sec8 .vrTablet .windowBox {
  width: 237px;
}
.pageII-sec8 .vrTablet .windowBox:nth-child(odd) {
  float: left;
  clear: left;
}
.pageII-sec8 .vrTablet .windowBox:nth-child(even) {
  float: right;
  clear: right;
}
.pageII-sec8 .vrTablet .windowBox .windowContent {
  padding: 0 10px;
}
.pageII-sec8 .vrTablet-b {
  width: -moz-calc(50% - 324px);
  width: -webkit-calc(50% - 324px);
  width: calc(50% - 324px);
  height: 100%;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, transparent 673px, #2d2e2e 673px, #2d2e2e 848px, transparent 848px, transparent 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 673px, #2d2e2e 673px, #2d2e2e 848px, transparent 848px, transparent 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 673px, #2d2e2e 673px, #2d2e2e 848px, transparent 848px, transparent 100%);
  float: right;
}
.pageII-sec8 .vrTablet-c {
  height: 100%;
  background: url(../images/tabla-de-datos-3_02.png) top left no-repeat;
  width: 100%;
}

header {
  width: 100%;
  background: #e24e4c;
  padding: 38px 10px;
  text-align: center;
}

.colum {
  width: 100%;
}
.colum.one-colum-ltl {
  max-width: 432px;
  margin: auto;
}
.colum.one-colum-short {
  max-width: 530px;
  margin: auto;
}
.colum.one-colum-short-2 {
  max-width: 762px;
  margin: auto;
}
.colum.one-colum-med {
  max-width: 812px;
  margin: auto;
}
.colum.one-colum-med-2 {
  max-width: 878px;
  margin: auto;
}
.colum.one-colum-med-3 {
  max-width: 918px;
  margin: auto;
}
.colum.one-colum-med-4 {
  max-width: 927px;
  margin: auto;
}
.colum.one-colum-large {
  max-width: 965px;
  margin: auto;
}
.colum.one-colum-large-b {
  max-width: 984px;
  margin: auto;
}
.colum.one-colum-max {
  max-width: 1000px;
  margin: auto;
}
.colum.two-colum-lt {
  max-width: 452px;
}
.colum.tree-colum-lt {
  max-width: 233px;
}
.colum.parr-col {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
}

.box-type-1 {
  margin: 0;
  padding: 0;
}
.box-type-1 li {
  list-style: none;
  display: table;
  margin: 0 10px;
  padding: 0;
  width: 173px;
  background: #017896;
  color: white;
  float: left;
  height: 182px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
.box-type-1 li span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
}
.box-type-1 li:after {
  content: " ";
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  top: -22px;
  left: 50%;
  margin-left: -22px;
  background-image: url(../images/sprites.png);
}
.box-type-1 li:nth-child(1):after {
  background-position: 0 0;
}
.box-type-1 li:nth-child(2):after {
  background-position: -46px 0;
}
.box-type-1 li:nth-child(3):after {
  background-position: -92px 0;
}
.box-type-1 li:nth-child(4):after {
  background-position: -138px 0;
}
.box-type-1 li:nth-child(5):after {
  background-position: -184px 0;
}

.paginador {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 25px;
}

.paginator-arrow {
  display: block;
  background: #e24e4c;
  color: white;
  text-decoration: none;
  max-width: 382px;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  padding: 20px 10px 15px;
  position: relative;
}
.paginator-arrow.next {
  float: right;
  -webkit-box-shadow: 4px 4px 0px 0px #ae323a;
  -moz-box-shadow: 4px 4px 0px 0px #ae323a;
  box-shadow: 4px 4px 0px 0px #ae323a;
}
.paginator-arrow.next:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 0 28px 23px;
  border-color: transparent transparent transparent #e24e4c;
  z-index: 2;
  top: 0;
  right: -23px;
}
.paginator-arrow.next:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 0 27px 23px;
  border-color: transparent transparent transparent #ae323a;
  z-index: 1;
  top: 5px;
  right: -27px;
}
.paginator-arrow.prev {
  float: left;
  -webkit-box-shadow: -4px 4px 0px 0px #ae323a;
  -moz-box-shadow: -4px 4px 0px 0px #ae323a;
  box-shadow: -4px 4px 0px 0px #ae323a;
}
.paginator-arrow.prev:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 23px 28px 0;
  border-color: transparent #e24e4c transparent transparent;
  z-index: 2;
  top: 0;
  left: -23px;
}
.paginator-arrow.prev:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 23px 27px 0;
  border-color: transparent #ae323a transparent transparent;
  z-index: 1;
  top: 5px;
  left: -27px;
}

.indice {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.indice h2 {
  font-style: normal;
  font-weight: normal;
}
.indice ol {
  list-style: upper-roman;
  font-weight: normal;
  font-size: 19px;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  color: #e24e4c;
}
.indice ol li a {
  color: #e24e4c;
  text-decoration: none;
}
.indice ol ol {
  list-style: none;
}
.indice ol ol li {
  font-size: 18px;
  color: #676769;
  padding: 0 0 0 100px;
}
.indice ol ol li a {
  color: #676769;
}

.line {
  width: 100%;
  height: 1px;
  background: #c7c6cb;
  margin: 20px 0;
}
.line:last-child {
  display: none;
}

.windowBox {
  width: 100%;
  background: white;
}
.windowBox:before {
  content: " ";
  display: block;
  background: url(../images/window-dots.png) 20px 4px #2f4f5c no-repeat;
  height: 13px;
}
.windowBox .windowContent {
  padding: 30px 30px 20px;
  color: #676769;
}
.windowBox.windowGray {
  background: #f7f7f7;
}

.pcSimulator {
  width: 100%;
  max-width: 1074px;
  margin: auto;
  padding: 149px 180px 0;
  background: url(../images/bg2.png) center top no-repeat, url(../images/bg3.png) center -50px;
}
.pcSimulator .part {
  width: 100%;
  border-bottom: 1px solid #c7c6cb;
  padding: 20px;
  overflow: hidden;
}
.pcSimulator .part:last-child {
  border-bottom: 0;
}
.pcSimulator .part strong {
  color: #e24e4c;
  font-weight: bold;
}
.pcSimulator .part .sprite {
  float: left;
  margin: 10px 20px 0 0;
}
.pcSimulator .part p {
  float: left;
  width: -moz-calc(100% - 52px);
  width: -webkit-calc(100% - 52px);
  width: calc(100% - 52px);
}

/*# sourceMappingURL=styles.css.map */
