@font-face
    font-family: 'Aller'
    src: url('../fonts/aller_bd-webfont.eot'), url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_bd-webfont.woff2') format('woff2'), url('../fonts/aller_bd-webfont.woff') format('woff'), url('../fonts/aller_bd-webfont.ttf') format('truetype'), url('../fonts/aller_bd-webfont.svg#allerbold') format('svg')
    font-weight: bold
    font-style: normal
@font-face
    font-family: 'Aller'
    src: url('../fonts/aller_bdit-webfont.eot'), url('../fonts/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_bdit-webfont.woff2') format('woff2'), url('../fonts/aller_bdit-webfont.woff') format('woff'), url('../fonts/aller_bdit-webfont.ttf') format('truetype'), url('../fonts/aller_bdit-webfont.svg#allerbold_italic') format('svg')
    font-weight: bold
    font-style: italic
@font-face
    font-family: 'Aller'
    src: url('../fonts/aller_it-webfont.eot'), url('../fonts/aller_it-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_it-webfont.woff2') format('woff2'), url('../fonts/aller_it-webfont.woff') format('woff'), url('../fonts/aller_it-webfont.ttf') format('truetype'), url('../fonts/aller_it-webfont.svg#alleritalic') format('svg')
    font-weight: normal
    font-style: italic
@font-face
    font-family: 'Aller'
    src: url('../fonts/aller_lt-webfont.eot'), url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_lt-webfont.woff2') format('woff2'), url('../fonts/aller_lt-webfont.woff') format('woff'), url('../fonts/aller_lt-webfont.ttf') format('truetype'), url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg')
    font-weight: 300
    font-style: normal
@font-face
    font-family: 'Aller'
    src: url('../fonts/aller_ltit-webfont.eot'), url('../fonts/aller_ltit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_ltit-webfont.woff2') format('woff2'), url('../fonts/aller_ltit-webfont.woff') format('woff'), url('../fonts/aller_ltit-webfont.ttf') format('truetype'), url('../fonts/aller_ltit-webfont.svg#aller_lightitalic') format('svg')
    font-weight: 300
    font-style: italic
@font-face
    font-family: 'Aller'
    src: url('../fonts/aller_rg-webfont.eot'), url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_rg-webfont.woff2') format('woff2'), url('../fonts/aller_rg-webfont.woff') format('woff'), url('../fonts/aller_rg-webfont.ttf') format('truetype'), url('../fonts/aller_rg-webfont.svg#allerregular') format('svg')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'Aller Display'
    src: url('../fonts/allerdisplay-webfont.eot'), url('../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/allerdisplay-webfont.woff2') format('woff2'), url('../fonts/allerdisplay-webfont.woff') format('woff'), url('../fonts/allerdisplay-webfont.ttf') format('truetype'), url('../fonts/allerdisplay-webfont.svg#aller_displayregular') format('svg')
    font-weight: normal
    font-style: normal
