=border-radius($radio)
	-webkit-border-radius: $radio
	-moz-border-radius: $radio
	-ms-border-radius: $radio
	border-radius: $radio
=background-size($size)
	-webkit-background-size: $size
	-moz-background-size: $size
	-o-background-size: $size
	background-size: $size
=box-shadow($shadow)
	-webkit-box-shadow: $shadow
	-moz-box-shadow: $shadow
	box-shadow: $shadow
=border-box()
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
=calc($property, $expresion)
	#{$property}: -moz-calc(#{$expresion})
	#{$property}: -webkit-calc(#{$expresion})
	#{$property}: calc(#{$expresion})