.sprite
	background-image: url(../images/sprites.png)
	&.analyticsIco
		width: 30px
		height: 29px
		background-position: -230px -1px
	&.wrenchRed
		width: 32px
		height: 32px
		background-position: -393px -1px
	&.mailRed
		width: 32px
		height: 32px
		background-position: -426px -1px
	&.exportRed
		width: 32px
		height: 32px
		background-position: -459px -1px
	&.crossRed
		width: 32px
		height: 32px
		background-position: -492px -1px
	&.exitRed
		width: 32px
		height: 32px
		background-position: -525px -1px
	&.arrowRed
		width: 32px
		height: 32px
		background-position: -558px -1px
	&.arrowRayUp
		width: 39px
		height: 38px
		background-position: -884px -1px
	&.za
		width: 36px
		height: 36px
		background-position: -591px -1px
	&.absoluto
		width: 36px
		height: 36px
		background-position: -628px -1px
	&.prcentaje
		width: 36px
		height: 36px
		background-position: -665px -1px
.vrSprite1
	width: 22px
	height: 22px
	border: 3px solid $red
	position: relative
	&:after
		content: " "
		display: block
		position: absolute
		width: 0
		height: 0
		border-style: solid
		border-width: 4px 4px 0 4px
		border-color: $gray transparent transparent transparent
		top: 50%
		left: 50%
		margin-top: -2px
		margin-left: -4px