h1
	color: white
	font-size: 45px
	font-weight: bold
	font-style: italic
	margin: 0
	padding: 0
h2
	font-size: 28px
	font-weight: bold
	font-style: italic
	color: $blueRegular
	&.white
		color: white
	&.light
		color: $blueLight
	&.dark
		color: $grayDark
p
	font-size: 16px
	font-weight: 300
	line-height: 20px
	text-align: justify
	&:first-of-type 
		margin-top: 0
	&:last-of-type 
		margin-bottom: 0
.text-center
	text-align: center
strong
	font-weight: bold