.pageII-sec2
	max-width: 1000px
	margin: auto
	.windowBox
		.windowContent
			.ficMenu
				display: table
				width: 100%
				max-width: 770px
				background: white
				border-bottom: 1px solid $grayLight
				border-top: 1px solid $grayLight
				table-layout: fixed
				margin: auto
				padding: 0 20px
				ul
					display: table-row
					list-style: none
					margin: 0
					padding: 0
					li
						display: table-cell
						text-align: center
						padding: 13px 0
						text-transform: uppercase
						font-size: 19px
						font-weight: normal
						&:first-child
							color: $orange
							border-bottom: 5px solid $orange
							padding: 13px 0 8px
			.winColums
				.winCol
					width: 25%
					float: left
					text-align: justify
					padding: 17.5px
					h3,
					p
						display: inline
					h3
						color: $orange
						font-size: 16px
						&:after
							content: ": "
					&:first-child
						padding-left: 0
					&:last-child
						padding-right: 0