.pageII-sec1
	border-bottom: 38px solid white
	.side-a,
	.side-b
		width: 50%
	.side-a
		float: left
		.side-wrapp
			width: 410px
			float: right
			margin-right: 82px
	.side-b
		float: right
		.side-wrapp
			width: 480px
			float: left
			margin-left: 20px
			.windowBox
				margin-left: 11px
				.windowContent
					padding: 30px 70px
					.sprite,
					.blogLink,
					.vrSprite1
						float: left
					.blogLink
						margin: 0 10px
						span
							display: block
							font-size: 22px
							font-weight: normal
						a
							display: block
							font-size: 15px
							text-decoration: none
							color: $gray
					.sprite
						margin-top: 6px
					.vrSprite1
						margin-top: 14px
		.side-image
			position: relative
			top: 38px
			+calc(width, "100% - 20px")
			float: right
			overflow: hidden
			background: transparent
			background: -moz-linear-gradient(top, transparent 0%, transparent 108px, #2d2e2e 108px, #2d2e2e 192px, transparent 192px, transparent 100%)
			background: -webkit-linear-gradient(top, transparent 0%, transparent 108px, #2d2e2e 108px,#2d2e2e 192px, transparent 192px, transparent 100%)
			background: linear-gradient(to bottom, transparent 0%, transparent 108px, #2d2e2e 108px,#2d2e2e 192px, transparent 192px, transparent 100%)
			img
				display: block