.pageII-sec7
	.arrowRayUp
		margin: auto
	.tabletSim
		height: 476px
		width: 100%
		.tabletSim-a
			float: left
			height: 100%
			+calc(width, "50% - 374.5px")
			background: transparent
			background: -moz-linear-gradient(top, transparent 0%, transparent 183px, #2d2e2e 183px, #2d2e2e 311px, transparent 192px, transparent 100%)
			background: -webkit-linear-gradient(top, transparent 0%, transparent 183px, #2d2e2e 183px,#2d2e2e 311px, transparent 192px, transparent 100%)
			background: linear-gradient(to bottom, transparent 0%, transparent 183px, #2d2e2e 183px,#2d2e2e 311px, transparent 192px, transparent 100%)
			.tabletSim-h
				background: url(../images/grafico-bg-2.png) right top no-repeat
				height: 100%
				width: 100%
		.tabletSim2
			width: 749px
			height: 100%
			background-image: url(../images/grafico-bg-1.png)
			background-position: right top
			background-repeat: no-repeat
			float: left
			color: white
			padding: 58px 80px
	.windowBox
		width: 450px
		margin-bottom: 20px
		&:nth-child(odd)
			float: left
			clear: left
		&:nth-child(even)
			float: right
			clear: right
		.windowContent
			padding: 20px 30px 20px
			img
				display: block
				margin: 0 auto 15px