.pageII-sec3
	.secWrapp
		max-width: 1030px
		margin: auto
		.secWrapp2
			max-width: 935px
			margin: auto
			.windowBox
				float: left
				display: block
				img
					display: block
				.lateralImg
					float: left
			.windowContent
				float: right
				+calc(width, "100% - 187px")
				padding: 30px 50px 0
				ol
					margin: 0
					padding: 0
					.part
						border-bottom: 1px solid $grayLight
						margin-bottom: 20px
						padding-bottom: 20px
						li
							+calc(width, "100% - 30px")
							margin-left: 20px
							color: $red
							font-weight: bold
							img
								float: left
								margin-left: 25px
							p
								color: $gray
								font-weight: 300
						&:nth-child(2),
						&:nth-child(3)
							p
								float: left
								width: 303px
						&:last-child
							border-bottom: 0
							margin-bottom: 0
