.pageII-sec8
	overflow: hidden
	.win1
		width: 382px
		margin: 20px auto 130px
		.windowContent
			padding: 10px 25px
		p:nth-child(1)
			text-align: left
		.bgGray
			background: $skyBlueLight
			padding: 5px 10px
	.skyLight
		background: $skyBlueLight
	.rrer
		position: relative
		.windowBox
			position: relative
			top: -130px
		.tree-colum-lt
			float: left
			margin: 20px 28px 50px
			.sprite
				margin: auto
				margin-bottom: 20px
	.vrTablet-WP
		width: 100%
		height: 852px
		position: relative
		top: -180px
		margin-bottom: -140px
	.vrTablet
		width: 648px
		height: 100%
		background: url(../images/tabla-de-datos-3_01.png) top center no-repeat
		float: right
		padding: 106px 64px 0
		color: $gray
		p
			margin-bottom: 10px
			margin-top: 10px
		.windowBox
			width: 237px
			&:nth-child(odd)
				float: left
				clear: left
			&:nth-child(even)
				float: right
				clear: right
			.windowContent
				padding: 0 10px
	.vrTablet-b
		+calc(width, "50% - 324px")
		height: 100%
		background: transparent
		background: -moz-linear-gradient(top, transparent 0%, transparent 673px, #2d2e2e 673px, #2d2e2e 848px, transparent 848px, transparent 100%)
		background: -webkit-linear-gradient(top, transparent 0%, transparent 673px, #2d2e2e 673px,#2d2e2e 848px, transparent 848px, transparent 100%)
		background: linear-gradient(to bottom, transparent 0%, transparent 673px, #2d2e2e 673px,#2d2e2e 848px, transparent 848px, transparent 100%)
		float: right
	.vrTablet-c
		height: 100%
		background: url(../images/tabla-de-datos-3_02.png) top left no-repeat
		width: 100%