.pageII-se5
	.wrapp
		width: 1000px
		position: relative
		.windowBox
			&:first-child
				width: 936px
				margin: auto
				padding-bottom: 30px
				.col1-sm
					float: left
					width: 230px
				.col2-lg
					float: right
					width: 540px
				img
					margin-top: 40px
			&:last-child
				margin: auto
				position: relative
				top: -30px
				width: 610px
				ul
					list-style: none
					margin: 0
					padding: 0
					li
						&:before
							content: "-"
							margin-right: 30px