.pageI-sec-bottom
	background: #ffffff
	background: -moz-linear-gradient(top, #ffffff 0%,  #ffffff 88px, #f0f6f6 88px, #f0f6f6 100%)
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff  88px,#f0f6f6 88px,#f0f6f6 100%)
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff  88px,#f0f6f6 88px,#f0f6f6 100%)
	width: 100%
	.pageI-sec-bottom-b
		background-image: url(../images/que-es-google-analytics-bg.png)
		background-position: top center
		background-repeat: no-repeat
		width: 100%
		padding: 320px 10px 40px