.pageII-se6
	.dataWrapp
		max-width: 874px
		margin: auto
		position: relative
		.dataWrappBlue
			width: 390px
			background: $skyBlue
			padding: 10px 40px
			left: 50%
			margin-left: -195px
			margin-top: -30px
			position: absolute
			color: white
			z-index: 2
		.dataWrappWhite
			margin: 20px auto 0
			background: white
			width: 543px
			padding: 30px 40px 20px