section
	&.blueLight
		background: $blueLight
		color: white
	&.blueDark
		background: $blueRegular
		color: white
	&.white
		background: white
	&.skyBlue
		background: $skyBlue
		color: white
	&.skyLight
		background: $skyBlueLight
