.box-type-1
	margin: 0
	padding: 0
	li
		list-style: none
		display: table
		margin: 0 10px
		padding: 0
		width: 173px
		background: $blueLight
		color: white
		float: left
		height: 182px
		-webkit-border-radius: 10px
		-moz-border-radius: 10px
		border-radius: 10px
		position: relative
		span
			display: table-cell
			vertical-align: middle
			text-align: center
			line-height: 20px
		&:after
			content: " "
			display: block
			position: absolute
			width: 45px
			height: 45px
			top: -22px
			left: 50%
			margin-left: -22px
			background-image: url(../images/sprites.png)
		&:nth-child(1):after
			background-position: 0 0
		&:nth-child(2):after
			background-position: -46px 0
		&:nth-child(3):after
			background-position: -92px 0
		&:nth-child(4):after
			background-position: -138px 0
		&:nth-child(5):after
			background-position: -184px 0
