.indice
	width: 100%
	max-width: 1000px
	margin: auto
	h2
		font-style: normal
		font-weight: normal
	ol
		list-style: upper-roman
		font-weight: normal
		font-size: 19px
		list-style-position: inside
		margin: 0
		padding: 0
		color: $red
		li
			a
				color: $red
				text-decoration: none
		ol
			list-style: none
			li
				font-size: 18px
				color: $gray
				padding: 0 0 0 100px
				a
					color: $gray
.line
	width: 100%
	height: 1px
	background: $grayLight
	margin: 20px 0
	&:last-child
		display: none
