.paginador
	width: 100%
	max-width: 1000px
	margin: auto
	padding: 0 25px
.paginator-arrow
	display: block
	background: $red
	color: white
	text-decoration: none
	max-width: 382px
	text-align: center
	font-size: 19px
	font-weight: normal
	padding: 20px 10px 15px
	position: relative
	&.next
		float: right
		-webkit-box-shadow: 4px 4px 0px 0px $redShadow
		-moz-box-shadow: 4px 4px 0px 0px $redShadow
		box-shadow: 4px 4px 0px 0px $redShadow
		&:after
			content: " "
			display: block
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-width: 28px 0 28px 23px
			border-color: transparent transparent transparent $red
			z-index: 2
			top: 0
			right: -23px
		&:before
			content: " "
			display: block
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-width: 27px 0 27px 23px
			border-color: transparent transparent transparent $redShadow
			z-index: 1
			top: 5px
			right: -27px

	&.prev
		float: left
		-webkit-box-shadow: -4px 4px 0px 0px $redShadow
		-moz-box-shadow: -4px 4px 0px 0px $redShadow
		box-shadow: -4px 4px 0px 0px $redShadow
		&:before
			content: " "
			display: block
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-width: 28px 23px 28px 0
			border-color: transparent $red transparent transparent
			z-index: 2
			top: 0
			left: -23px

		&:after
			content: " "
			display: block
			position: absolute
			width: 0
			height: 0
			border-style: solid
			border-width: 27px 23px 27px 0
			border-color: transparent $redShadow transparent transparent
			z-index: 1
			top: 5px
			left: -27px