.pcSimulator
	width: 100%
	max-width: 1074px
	margin: auto
	padding: 149px 180px 0
	background: url(../images/bg2.png) center top no-repeat, url(../images/bg3.png) center -50px
	.part
		width: 100%
		border-bottom: 1px solid $grayLight
		padding: 20px
		overflow: hidden
		&:last-child
			border-bottom: 0
		strong
			color: $red
			font-weight: bold
		.sprite
			float: left
			margin: 10px 20px 0 0
		p
			float: left
			+calc(width, "100% - 52px")