.windowBox
	width: 100%
	background: white
	&:before
		content: " "
		display: block
		background: url(../images/window-dots.png) 20px 4px $blueDark no-repeat
		height: 13px
	.windowContent
		padding: 30px 30px 20px
		color: $gray
	&.windowGray
		background: #f7f7f7