.colum
	width: 100%
	&.one-colum-ltl
		max-width: 432px
		margin: auto
	&.one-colum-short
		max-width: 530px
		margin: auto
	&.one-colum-short-2
		max-width: 762px
		margin: auto
	&.one-colum-med
		max-width: 812px
		margin: auto
	&.one-colum-med-2
		max-width: 878px
		margin: auto
	&.one-colum-med-3
		max-width: 918px
		margin: auto
	&.one-colum-med-4
		max-width: 927px
		margin: auto
	&.one-colum-large
		max-width: 965px
		margin: auto
	&.one-colum-large-b
		max-width: 984px
		margin: auto
	&.one-colum-max
		max-width: 1000px
		margin: auto
	&.two-colum-lt
		max-width: 452px
	&.tree-colum-lt
		max-width: 233px
	&.parr-col
		-webkit-column-count: 2
		-moz-column-count: 2
		column-count: 2
		-webkit-column-gap: 45px
		-moz-column-gap: 45px
		column-gap: 45px